@font-face {
    font-family: 'centurygothicbold';
    src: url('../fonts/centurygothicbold.eot');
    src: url('../fonts/centurygothicbold.eot') format('embedded-opentype'),
         url('../fonts/centurygothicbold.woff2') format('woff2'),
         url('../fonts/centurygothicbold.woff') format('woff'),
         url('../fonts/centurygothicbold.ttf') format('truetype'),
         url('../fonts/centurygothicbold.svg#centurygothicbold') format('svg');
}
@font-face {
    font-family: 'centurygothic';
    src: url('../fonts/centurygothic.eot');
    src: url('../fonts/centurygothic.eot') format('embedded-opentype'),
         url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff'),
         url('../fonts/centurygothic.ttf') format('truetype'),
         url('../fonts/centurygothic.svg#centurygothic') format('svg');
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
/*Agregar css*/
body{font-family: "centurygothic", arial;font-size: 12px;}
.fluid-list{display: inline-block;width: 100%;vertical-align: top;}
.text-center{text-align: center;}
.right{float: right;}
.left{float: left;}
ul.list-reset{list-style: none;padding-left: 0;margin-bottom: 0;}
.margin-r{margin-top: 0!important;}
.margin-b{margin-bottom: 40px;}

/*Login*/
#bg{position: fixed;top: -50%;left: -50%;width: 200%;height: 200%;}
#bg img{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;min-width: 50%;min-height: 50%;}
.login-beneficios{width: 640px;}
.header-login{height: 52px;background: #636264;border-bottom: 5px solid #e7e7e7;position: relative;}
.contenido-login{background: #fff;padding: 18px 72px;border-radius: 0 0 5px 5px;}
.form-group{margin-bottom: 20px;position: relative;}
.has-feedback-left .form-control{padding-right: 12px;padding-left: 70px;height: 58px;border: 2px solid #b8b7b7;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;outline: 0;-webkit-box-shadow: 0 0 0;-moz-box-shadow: 0 0 0;box-shadow: 0 0 0;font-size: 20px;}
.has-feedback-left .form-control.error{border:2px solid #ed5a5a;}
.has-feedback-left .form-control.error::-webkit-input-placeholder{color: #ed5a5a;}
.has-feedback-left .form-control.error:-moz-placeholder {color: #ed5a5a;}
.has-feedback-left .form-control.error::-moz-placeholder {color: #ed5a5a;}
.has-feedback-left .form-control.error:-ms-input-placeholder{color: #ed5a5a;}
.form-login label.error, .cnt-inter-formulario label.error{color: #ed5a5a;font-size: 16px;font-family: "centurygothicbold",arial;display: block;margin-top: 10px;margin-bottom: 10px;text-align: center;}
.cnt-inter-formulario label.error{text-align: left;margin-top: 5px;margin-bottom: 5px;line-height: 110%;}
.form-control-feedback{width: 38px;color: #333;}
.has-feedback-left .form-control-feedback{right: auto;left: 18px;top: 12px;}
.text-muted{color: #636264;font-size: 30px;}
.text-center{text-align: center;}
.contenido-login h4{font-family: "centurygothicbold",arial;font-size: 30px;color: #0a0d12;margin-top: 0;line-height: 120%;}
.contenido-login p{font-size: 20px;color: #333333;line-height: 130%;margin-bottom: 25px;}
.contenido-login h5{font-size: 14px;color: #666666;line-height: 120%;margin-top: 22px;margin-bottom: 0;}
.contenido-login h5 a{font-family: "centurygothicbold",arial;color: #400090;}
.form-login{padding: 0 70px;}
.form-login .form-group{margin-bottom: 12px;}
.header-login span{display: block;width: 320px;height: 100px;background: url(../img/login.png) no-repeat;position: absolute;left:50%;margin-left: -160px;top: -45px;}
.btn-block{background: #400090;border:0;border-bottom: 3px solid #1f0046;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;height: 65px;outline: 0;}
.btn-block:hover{background: #400090;border:0;border-bottom: 3px solid #1f0046;}
.btn-block.btn-primary:focus,.btn-block.btn-primary:active{box-shadow: 0 0 0;background-color: #400090;border-color: #000;}
.btn-block span{font-size: 28px;color: #ffffff;font-family: "centurygothicbold",arial;display: block;line-height: 53px;-webkit-text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);-moz-text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);}
.form-login select{outline: 0;border:2px solid #b8b7b7;height: 55px;font-size: 20px;color: #0a0d12;padding: 0 20px;}
.form-login select:focus, .form-login select:active{box-shadow: 0 0 0;border:2px solid #b8b7b7;}
.form-login select.error{border:2px solid #ed5a5a;color: #ed5a5a;}

.cnt-inter-formulario .form-control.error, .cnt-inter-formulario select.error{border: 1px solid #ed5a5a;color: #ed5a5a;}
/*Header*/
header{top: 0;width: 100%;transform: translateZ(0);-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);}
.top-bar{background: #0a0d12;height: 32px;position: relative;z-index: 5;}
ul.menu-city{margin-top: 4px;}
ul.menu-city>li{float: left;border-left: 1px solid #cccccc;padding-left: 15px;margin-left: 15px;}
ul.menu-city>li:first-child{border-left: 0;padding-left: 0;margin-left: 0;}
ul.menu-city>li>a{font-size: 13px;color: #fff;text-decoration: underline;}
ul.menu-city>li>span{font-size: 13px;color: #fff;margin-right: 5px;}
ul.menu-city>li>span>span{font-size: 20px;vertical-align: top;}
ul.menu-city>li>.dropdown{display: inline-block;}
ul.menu-city>li>.dropdown>button{background: none;border: 0;color: #fff;font-size: 13px;text-decoration: underline;outline: 0;}
.box-center{background: #fff;height: 150px;transform: translateZ(0);-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);transition: all 0.3s;-webkit-transition: all 0.3s;position: relative;z-index: 3;}
a.company{position: absolute;top: 52px;left: 15px;}
a.beneficios{position: absolute;left: 235px;top: 90px;}
.search{width: 445px;margin-top: 55px;}
.search .frm-search{width: 100%;position: relative;}
.search .frm-search input{width: 98%;height: 40px;padding-right: 45px;outline: 0;padding-left: 10px;font-size: 18px;color: #999999;border: 1px solid #c1c1c1;-webkit-border-radius: 3px 0 0 3px;-moz-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;}
.search .frm-search button{position: absolute;right: 0;top: 0;width: 40px;height: 40px;background: #400090;border: 0;outline: 0;-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}
.search .frm-search button span{color: #fff;font-size: 20px;}
nav{height: 100px;background: #2b3036;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iIzJiMzAzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTBkMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top, #2b3036 8%, #0a0d12 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#2b3036), color-stop(100%,#0a0d12));background: -webkit-linear-gradient(top, #2b3036 8%,#0a0d12 100%);background: -o-linear-gradient(top, #2b3036 8%,#0a0d12 100%);background: -ms-linear-gradient(top, #2b3036 8%,#0a0d12 100%);background: linear-gradient(to bottom, #2b3036 8%,#0a0d12 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3036', endColorstr='#0a0d12',GradientType=0 );position: relative;z-index: 4;}
nav ul{height: 100px;border-left: 1px solid #0a0d12;border-right: 1px solid #2b3036;}
nav ul li{float: left;border-left: 1px solid #0a0d12;width: 12.5%;}
nav ul li a{display: block;text-align: center;border-left: 1px solid #0a0d12;height: 100px;}
nav ul li a:hover{background: #400090;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMSUiIHN0b3AtY29sb3I9IiM0MDAwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMSUiIHN0b3AtY29sb3I9IiM0MDAwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWYwMDQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);background: -moz-linear-gradient(top, #400090 31%, #400090 31%, #1f0046 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#400090), color-stop(31%,#400090), color-stop(100%,#1f0046));background: -webkit-linear-gradient(top, #400090 31%,#400090 31%,#1f0046 100%);background: -o-linear-gradient(top, #400090 31%,#400090 31%,#1f0046 100%);background: -ms-linear-gradient(top, #400090 31%,#400090 31%,#1f0046 100%);background: linear-gradient(to bottom, #400090 31%,#400090 31%,#1f0046 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#400090', endColorstr='#1f0046',GradientType=0 );}
nav ul li a.active{background: #400090;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMSUiIHN0b3AtY29sb3I9IiM0MDAwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMSUiIHN0b3AtY29sb3I9IiM0MDAwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWYwMDQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);background: -moz-linear-gradient(top, #400090 31%, #400090 31%, #1f0046 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#400090), color-stop(31%,#400090), color-stop(100%,#1f0046));background: -webkit-linear-gradient(top, #400090 31%,#400090 31%,#1f0046 100%);background: -o-linear-gradient(top, #400090 31%,#400090 31%,#1f0046 100%);background: -ms-linear-gradient(top, #400090 31%,#400090 31%,#1f0046 100%);background: linear-gradient(to bottom, #400090 31%,#400090 31%,#1f0046 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#400090', endColorstr='#1f0046',GradientType=0 );}
nav ul li:first-child{border-left: 0;}
nav ul li:first-child a{border-left: 0;}
nav ul li a span{display: inline-block;vertical-align: top;}
nav ul li a span.name-title{width: 100%;color: #ddd;font-size: 14px;font-family: "centurygothicbold",arial;margin-top: 10px;}
span.icon-nav{width: 40px;height: 40px;margin-top: 12px;}
span.destacados{background: url(../img/destacados.png) no-repeat;}
span.belleza-salud{background: url(../img/belleza-salud.png) no-repeat;}
span.viajes{background: url(../img/viajes.png) no-repeat;}
span.restaurantes{background: url(../img/restaurantes.png) no-repeat;}
span.entretenimiento{background: url(../img/entretenimiento.png) no-repeat;}
span.productos{background: url(../img/productos.png) no-repeat;}
span.tiendas{background: url(../img/tiendas.png) no-repeat;}
span.otros{background: url(../img/otros.png) no-repeat;}
.menu-city .dropdown-menu{border: 1px solid #cecbc3;-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;border-radius: 0 0 0 0;top: 38px;left: -122px;width: 315px;margin: 0;padding: 15px;}
.menu-city .dropdown-menu span{display: block;position: absolute;width: 26px;height: 11px;background: url(../img/caret.png) no-repeat;top: -11px;left: 90px;}
.menu-city .dropdown-menu li{float: left;background: url(../img/list-caret.png) no-repeat left center;margin-right: 35px;}
.menu-city .dropdown-menu>li>a{background: none;color: #400090;font-family: "centurygothicbold",arial;font-size: 14px;}
.company_fixed, .beneficios_fixed{display: none;}
.btn-title{display: none;font-family: "centurygothicbold",arial;font-size: 14px!important;}
/*Menu Fixed*/
.fix-nav{z-index: 999;position: fixed;}
.fix-body .box-center{height: 0;width: 100%;float: left;}
.fix-body .wrapper>section{margin-top: 92px;}
.fix-nav nav{height: 60px;}
.fix-nav nav ul{height: 60px;margin-left: 295px;margin-right: 70px;}
.fix-nav nav ul li a{height: 60px;}
.fix-nav span.icon-nav{width: 32px;height: 32px;background-size: 100%;}
.fix-nav nav ul li a span.name-title{display: none;}
.fix-nav .company{display: none;}
.fix-nav .beneficios{display: none;}
.fix-nav .company_fixed{display: block;position: absolute;bottom: -63px;left: 15px;}
.fix-nav .beneficios_fixed{display: block;position: absolute;bottom: -60px;left: 185px;}
.fix-nav .search{display: none;width: 460px;margin-top: 0;position: absolute;right: 15px;bottom: -116px;background: #f4f3ef;padding: 8px;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;}
.search-fixed{display: none;position: absolute;right: 15px;top: 0;height: 60px;background: none;line-height: 60px;font-size: 25px;color: #fff;width: 69px;text-align: center;border-right: 0px solid #ccc;border-top: 0px solid #ccc;border-left: 0px solid #ccc;}
.search-fixed:active,.search-fixed:focus,.search-fixed:hover{color: #fff;}
.search-fixed.active{color: #2b3036;background: #f4f3ef;border-right: 1px solid #ccc;border-top: 1px solid #ccc;border-left: 1px solid #ccc;}
.fix-nav .search-fixed{display: block;}
.fix-nav .search .frm-search input{padding-right: 85px;}
.fix-nav .search .frm-search button{width: 80px;color: #fff;}
.fix-nav .btn-title{display: block;}
.fix-nav .search-btn .glyphicon-search{display: none;}
.hide-s{display: none!important;}
.show-s{display: block!important;}
a.search-lupa{display: none;}
.city_country{display: none;}
/*Slider Anuncios*/
.slide-anuncio{margin-top: 42px;}
.slider-home{background: #fff;overflow: hidden;border-radius: 5px 5px 0 0;}
.box-sombra{-webkit-box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.25);-moz-box-shadow:0px 8px 1px 0px rgba(0, 0, 0, 0.25);box-shadow:0px 8px 1px 0px rgba(0, 0, 0, 0.25);}
.anuncio-home{}
.anuncio-home a{display: block;position: relative;}
.anuncio-home a img{width: 100%;}
.precio-f{width: 80%;background: rgba(0,0,0,0.70);position: absolute;bottom: 15px;left: 15px;padding: 12px;}
.precio-f span{font-size: 30px;color: #ddd;display: inline-block;width: 100%;vertical-align: top;line-height: 100%;}
.precio-f span.descuento{font-size: 60px;}
.slider-promocion .slick-arrow{width: 21px;height: 42px;background: none;border: none;text-indent: -99999px;position: absolute;z-index: 9;top: 50%;margin-top: -21px;outline: 0;}
.slider-promocion .slick-prev{background: url(../img/left.png) no-repeat;left: -15px;}
.slider-promocion .slick-next{background: url(../img/right.png) no-repeat;right: -16px;}
.slider-promocion a{display: block;outline: 0;}
.slider-promocion a img{width: 100%;vertical-align: top;}
.box-sombra-caja{-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);}
.sombra-interna{padding: 15px;-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);}
/*Destacados*/
.destacados-cnt{margin-top: 55px;}
.title-bloques h3{color: #0a0d12;font-size: 40px;margin-top: 0;margin-bottom: 20px;}
.two-primary{background: #fff;}
.cupon-two{position: relative;}
.cupon-two a{display: block;}
.cupon-two a figure, .cupon-two a figure img{width: 100%;}
.info-cupon-l{position: absolute;bottom: 0;left: 0;right: 0;background:#000;background: rgba(0,0,0,0.6);padding: 10px;}
.info-cupon-l figure{width: 26.5%;}
.info-cupon-l figure img{width: 100%;}
.info-cupon-l .info-interna{padding-left: 15px;width: 73.5%;}
.info-interna h2{margin-top: 0;margin-bottom: 5px;line-height: 120%;}
.info-interna h2 a{display: block;font-size: 16px;color: #fff;line-height: 120%;}
.info-interna h2 a span{font-size: 24px;}
.info-interna>a{font-size: 12px;color: #fff;text-decoration: underline;}
.cupon-info{padding: 20px 20px 15px 0;}
.top-info figure{width: 30%;-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);-moz-box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.25);box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.25);}
.top-info figure img{width: 100%;}
.top-info .info-dest-c{width: 70%;padding-left: 25px;}
.top-info .info-dest-c h2{line-height: 120%;margin-top: 0;margin-bottom: 10px;}
.top-info .info-dest-c h2 a{display: block;font-size: 18px;color: #484848;line-height: 145%;}
.top-info .info-dest-c h2 a span{color: #0a0d12;font-size: 36px;}
a.a-descb{color: #400090;font-size: 14px;font-family: "centurygothicbold",arial;margin-bottom: 12px;display: block;text-align: right;}
.buttom-info hr{background: #666;margin-bottom: 20px;}
.buttom-info span{color: #484848;font-size: 13px;}
.buttom-info span span{color: #0a0d12;font-family: "centurygothicbold",arial;}
.buttom-info>span{display: inline-block;vertical-align: middle;margin-top: 12px;width: 230px;}
a.btn-cupon-d{padding: 0 28px;background: #400090;font-family: "centurygothicbold",arial;color: #fff;-webkit-text-shadow: 0px 2px 0px rgba(31, 0, 70, 1);-moz-text-shadow:0px 2px 0px rgba(31, 0, 70, 1);text-shadow:0px 2px 0px rgba(31, 0, 70, 1);height: 40px;border-bottom: 3px solid #1f0046;line-height: 40px;}
a.ver-b{font-size: 20px;}
a.ver-c{font-size: 24px;}
.top-info{margin-bottom: 55px;}
.cupon-img figure a img{width: 100%;}
/*Flujo cupones*/
.flujo-cupones{margin-top: 50px;}
.flujo-cupones .info-interna h2 a{font-size: 12px;}
.flujo-cupones .info-interna h2 a span{font-size: 18px;}
/*Anuncio Banner*/
.anuncio-banner{margin-top: 32px;}
.anuncio-banner a{display: block;}
.anuncio-banner a img{width: 100%;}
/*Slider marcas*/
.slick-slider{position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden{display: none;}
.slider-marcas{margin-bottom: 80px;margin-top: 30px;}
.slider-marcas h4{font-size: 30px;color: #0a0d12;margin-top: 0;margin-bottom: 18px;padding-bottom: 10px;border-bottom: 2px solid #2b3036;}
/*Bread*/
.bread{margin-top: 20px;margin-bottom: 30px;}
.bread ul{list-style: none;padding-left: 0;margin-bottom: 0;}
.bread ul li{float: left;font-size: 13px;color: #666666;}
.bread ul li span{color: #626262;font-size: 18px;margin-left: 8px;margin-right: 8px;}
.bread ul li a{font-weight: bold;font-size: 13px;color: #400090;}
/*Search info*/
.search-info .left h3{font-size: 24px;color: #666666;margin-top: 3px;}
.search-info .left h3 span{font-style: italic;font-family: "centurygothicbold",arial;}
#select-search select{display: inline-block;width: 165px;margin-left: 5px;font-size: 18px;color: #666666;}
#select-search span{font-size: 18px;color: #666;}
.destacado-icon{position: absolute;top: 0;left: 0;background: url(../img/destacado-icon.png) no-repeat;width: 44px;height: 44px;display: block;}
/*Formulario*/
.cnt-formulario{margin-top: 35px;margin-bottom: 70px;}
.cnt-inter-formulario{width: 745px;margin: 0 auto;}
.cnt-inter-formulario p{font-size: 18px;color: #0a0d12;line-height: 120%;margin-bottom: 30px;text-align: center;font-family: "centurygothicbold",arial;}
.cnt-inter-formulario .col-sm-2{width:285px!important;text-align: left;font-size: 18px;color: #0a0d12;}
.cnt-inter-formulario .col-sm-10{width: 460px!important;}
.cnt-inter-formulario .col-sm-10 select, .cnt-inter-formulario .col-sm-10 input{text-align: left;font-size: 18px;color: #0a0d12;border:1px solid #b8b7b7;height: 36px;}
.cnt-inter-formulario .col-sm-10 select:focus, .cnt-inter-formulario .col-sm-10 input:focus{box-shadow: 0 0 0;}
.cnt-inter-formulario .col-sm-offset-2{margin-left: 285px!important;}
.cnt-inter-formulario .form-group{margin-bottom: 15px;}
.btn-enviar{background: #400090;border: 0;border-bottom: 3px solid #1f0046;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;height: 65px;outline: 0;width: 165px;}
.btn-enviar:hover, .btn-enviar:focus,.btn-enviar:active{background: #400090!important;border-bottom: 3px solid #1f0046!important;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;outline: 0!important;}
.btn-enviar span{font-size: 28px;color: #ffffff;font-family: "centurygothicbold",arial;display: block;line-height: 53px;-webkit-text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);-moz-text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);}

/*Preguntas frecuentes*/
.preguntas-frecuentes{margin-bottom: 60px;}
.preguntas-frecuentes h2{font-size: 40px;color: #0a0d12;margin-top: 0;margin-bottom: 30px;}
.preguntas-frecuentes ol{font-size: 24px;color: #0a0d12;font-family: "centurygothicbold",arial;}
.preguntas-frecuentes ol li h3{font-size: 24px;color: #0a0d12;font-family: "centurygothicbold",arial;margin-bottom: 20px;margin-top: 0;}
.preguntas-frecuentes ol li h4{margin-bottom: 12px;margin-top: 0;font-size: 18px;color: #0a0d12;font-family: "centurygothicbold",arial;}
.preguntas-frecuentes ol li p{font-size: 16px;color: #666666;line-height: 130%;margin-bottom: 15px;margin-top: 0;font-family: "centurygothic", arial;}
/*Preguntas frecuentes*/
.cnt-relaciondos{margin-bottom: 40px;}
.cnt-relaciondos .info-interna h2 a{font-size: 12px;}
.cnt-relaciondos .info-interna h2 a span{font-size: 18px;}
.cnt-relaciondos .info-interna>a{font-size: 11px;}
.cnt-relaciondos h3{font-size: 30px;color: #0a0d12;margin-bottom: 20px;margin-top: 0;}
.cnt-cupon{margin-top: 35px;margin-bottom: 70px;}
.cnt-cupon hr{height: 2px;border-top: 2px solid #666;margin: 30px 0;}
.img-cupon img{width: 100%;}
.info-cupon{text-align: center;}
.info-cupon figure{display: inline-block;vertical-align: top;width: 163px;-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);}
.info-cupon h1{font-size: 18px;color: #0a0d12;line-height: 130%;text-align: left;margin-top: 20px;margin-bottom: 25px;}
.info-cupon h1 span{font-size: 30px;font-family: "centurygothicbold",arial;}
a.btn-cupon{background: #400090;border: 0;border-bottom: 3px solid #1f0046;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;height: 65px;outline: 0;}
a.btn-cupon:hover{background: #400090;border:0;border-bottom: 3px solid #1f0046;}
a.btn-cupon.btn-primary:focus,a.btn-cupon.btn-primary:active{box-shadow: 0 0 0;background-color: #400090;border-color: #000;}
a.btn-cupon span{font-size: 28px;color: #ffffff;font-family: "centurygothicbold",arial;display: block;line-height: 53px;-webkit-text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);-moz-text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);text-shadow: 0px 4px 0px rgba(31, 0, 70, 1);}
a.btn-full{width: 100%;}
.info-cupon em{font-size: 16px;color: #666666;font-style: normal;margin-top: 15px;display: inline-block;vertical-align: top;}
.primary-info{margin-bottom: 50px;}
.title-info-c h2{font-size: 30px;color: #0a0d12;margin-top: 0;margin-bottom: 20px;}
.cnt-condiciones-info p{margin-bottom: 7px;font-size: 14px;color: #666666;}
.cnt-empresa-info p{font-size: 14px;color: #666666;line-height: 140%;margin-bottom: 20px;}
.left-info-c ul{list-style: none;padding-left: 0;margin-bottom: 0;}
.left-info-c ul li{margin-bottom: 18px;float: left;width: 100%;}
.left-info-c span{float: left;width: 30%;font-size: 33px;color: #0a0d12;}
.left-info-c .cnt-info-list{float: left;width: 70%;}
.left-info-c .cnt-info-list h4{margin-top: 0;font-size: 16px;color: #0a0d12;font-family: "centurygothicbold",arial;margin-bottom: 3px;}
.left-info-c .cnt-info-list em{font-style: normal;font-size: 13px;color: #333333;word-wrap:break-word;}
.left-map #map{min-height: 200px;}
.cnt-terminos h3{font-size: 30px;color: #0a0d12;margin-top: 0;margin-bottom: 20px;}
.cnt-terminos p{font-size: 14px;color: #666666;margin-bottom: 8px;}
.btn-cnt{text-align: center;margin-top: 60px;}
.btn-cnt a{width: 360px;display: inline-block;vertical-align: top;}
/*Custon modal*/
.modal-vcenter .modal-content{-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;}
.modal-vcenter .modal-header{border-bottom: 7px solid #f7f7f7;background: #434244;height: 55px;position: relative;}
.modal-vcenter .modal-header h4{position: absolute;left: 50%;top:-32px;width: 285px;margin-left: -142px;}
.modal-vcenter .modal-header h4 img{width: 100%;}
.modal-vcenter .modal-header .close{width: 35px;height: 35px;background: #fff;opacity: 1;border-radius: 50%;border: 3px solid #434244;position: absolute;right: -7px;top: -7px;outline: 0;}
.modal-vcenter .modal-header .close:active, .modal-vcenter .modal-header .close:focus{box-shadow: 0 0 0!important;}
.modal-vcenter .modal-dialog{width: 640px;}
.modal-vcenter .modal-body{padding: 15px 20px 20px 20px;}
.header-modal-c{border-bottom: 2px solid #666;margin-bottom: 25px;}
.header-modal-c figure{float: left;width: 118px;margin-right: 8px;margin-bottom: 15px;-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);}
.header-modal-c figure img{width: 100%;}
.header-modal-c h2{color: #0a0d12;font-size: 18px;margin-top: 0;margin-bottom: 15px;}
.header-modal-c h2 span{font-family: "centurygothicbold",arial;font-size: 30px;}
.body-cnt-c{text-align: center;}
.body-cnt-c h4{margin-bottom: 12px;color: #333;font-size: 20px;font-family: "centurygothicbold",arial;margin-top: 0;}
.body-cnt-c .text-muted{color: #9a9595;}
.body-cnt-c .checkbox{margin-bottom: 30px;}
.body-cnt-c .checkbox>label{font-size: 16px;color: #333333;}
.form-login.form-modal-c{padding: 0 75px;}
.cnt-form-error label.error{color: #ed5a5a;font-size: 15px;font-family: "centurygothicbold",arial;display: block;margin-top: 10px;margin-bottom: 10px;text-align: center;}
.cnt-terminos-info{margin-top: 15px;display: none;}
.cnt-terminos-info ul{font-size: 17px;padding-left: 33px;margin-bottom: 0;}
.cnt-terminos-info ul li{text-align: left;line-height: 100%;}
.cnt-terminos-info ul li p{font-size: 12px;color: #333333;margin-bottom: 0;}
/*Felicitaciones*/
.header-modal-c.header-feli{text-align: center;}
.header-modal-c.header-feli h3{font-size: 30px;color: #0a0d12;margin-bottom: 25px;margin-top: 0;font-family: "centurygothicbold",arial;}
.header-modal-c.header-feli p{font-size: 20px;color: #0a0d12;margin-bottom: 40px;}
.modal-felicitaciones .modal-body h4{font-size: 16px;color: #333;font-family: "centurygothicbold",arial;margin-bottom: 25px;}
.modal-felicitaciones .modal-body h5{font-size: 18px;color: #333;font-family: "centurygothicbold",arial;font-style: italic;margin-top: 0;margin-bottom: 8px;}
.modal-felicitaciones .form-control{padding-right: 12px;padding-left: 12px;height: 58px;border: 2px solid #b8b7b7;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;outline: 0;-webkit-box-shadow: 0 0 0;-moz-box-shadow: 0 0 0;box-shadow: 0 0 0;font-size: 20px;text-align: center;}
.modal-felicitaciones .form-group ul{list-style: none;padding-left: 0;margin-bottom: 0;overflow: hidden;}
.modal-felicitaciones .form-group ul li{float: left;width: 48%;margin-left: 4%;}
.modal-felicitaciones .form-group ul li.first-btn{width: 55%;}
.modal-felicitaciones .form-group ul li.second-btn{width: 41%;}
.modal-felicitaciones .form-group ul li:first-child{margin-left: 0;}
.modal-felicitaciones .btn-block span, .modal-felicitaciones .btn-no span{font-size: 20px;}
.modal-felicitaciones .btn-block.text-center.btn-no{background: #2b3036;border-bottom: 3px solid #0a0d12;}
/*Modal Gracias*/
.modal-gracias .header-modal-c{margin-bottom: 0;border-bottom: 0;}
/*404*/
.cnt-404{margin-top: 100px;position: relative;}
.cnt-404 img{width: 100%;}
.info-404{position: absolute;top: 60px;right: 0;width: 400px;text-align: center;}
.info-404 p{margin-bottom: 0;font-size: 22px;color: #000;line-height: 120%;}
.info-404 p a{color: #400090;font-family: "centurygothicbold",arial;}
/*Tiendas*/
.cnt-tienda-h{margin-bottom: 70px;}
.cnt-tienda-h h2{font-size: 28px;color: #0a0d12;padding-bottom: 8px;margin-bottom: 40px;margin-top: 0;text-align: center;border-bottom: 2px solid #2b3036;}
.center-img-h{text-align: center;}
.m-40{margin-bottom: 40px;}
/*Footer*/
footer{background: #0a0d12;}
.sub-footer{border-bottom: 1px solid #2b3036;}
.cnt-footer{margin-top: 90px;margin-bottom: 60px;}
ul.list-footer li{background: url(../img/list-icon.png) no-repeat left center;padding-left: 12px;margin-bottom: 12px;}
ul.list-footer li a{font-size: 13px;color: #fff;text-decoration: underline;}
ul.list-info-footer li{margin-bottom: 15px;color: #fff;}
ul.list-info-footer li a{font-size: 13px;color: #fff;text-decoration: underline;}
ul.list-info-footer li span{margin-right: 8px;font-size: 20px;vertical-align: middle;}
ul.list-info-footer li em{font-style: normal;font-size: 13px;color: #fff;display: inline-block;vertical-align: top;margin-top: 3px;}
.cnt-footer h4{font-size: 28px;color: #fff;margin-top: 0;margin-bottom: 35px;}
.sub-footer-logo>span{display: inline-block;vertical-align: middle;width: 100%;font-size: 14px;color: #fff;margin-top: 35px;margin-bottom: 80px;}
.sub-footer-logo>a{margin-top: 75px;}
.sub-footer-logo a{display: inline-block;vertical-align: middle;font-size: 14px;color: #fff;}
.sub-footer-logo span a{text-decoration: underline;margin-right: 15px;}
.sub-footer-logo span span{margin-right: 55px;}

.browserupgrade{margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.hidden{display: none !important;}
.visuallyhidden{border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.invisible{visibility: hidden;}
.clearfix:before,.clearfix:after{content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after{clear: both;}
/*Puntos*/
span.puntos{background: url(../img/puntos.png) no-repeat;}
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
@media print {
    *,*:before,*:after{background: transparent !important;color: #000 !important;/* Black prints faster:http://www.sanbeiji.com/archives/953 */box-shadow: none !important;text-shadow: none !important;}
    a,a:visited{text-decoration: underline;}
    a[href]:after{content: " (" attr(href) ")";}
    abbr[title]:after {content: " (" attr(title) ")";}
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,a[href^="javascript:"]:after {content: "";}
    pre,blockquote{border: 1px solid #999;page-break-inside: avoid;}
    thead{display: table-header-group;}
    tr,img{page-break-inside: avoid;}
    img{max-width: 100% !important;}
    p,h2,h3{orphans: 3;widows: 3;}
    h2,h3{page-break-after: avoid;}
}
@media only screen and (max-width : 992px){    
    .container,.wrapper{width: 970px!important;}
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{float: left;}
    .col-md-12{width: 100%;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-6{width: 50%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-3{width: 25%;}
}
@media (min-width: 1200px){
    .search{width: 545px;}
    .buttom-info>span{width: auto;}
    nav ul li a span.name-title{font-size: 16px;}
}
